
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins.woff2') format('woff2'),
       url('/fonts/Poppins.woff') format('woff'),
       url('/fonts/Poppins.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;